body {
  background-color: gray;
}

#content {
  width: 100%;
}

h1, p {
  text-align: center;
  padding: 1% 1% 1% 1%;
  width: 97%;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
}

input {
  box-sizing: border-box;
  width: 97%;
  background-color: white;
  display: block;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

label {
  display: block;
  width: 97%;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2em;
}

#input-email, #input-age-verification, #input-submit {
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #content {
    margin: 5% auto 0 auto;
    width: 75%;
  }
  input {
    width: 70%;
    margin-left: 20%;
    height: 100%;
    font-size: 90%;
    max-width: 70%;
  }
  #input-submit input {
    max-width: 30%;
    font-size: 90%;
  }
  #input-age-verification label {
    left: 20%;
  }
  #input-age-verification input[type="checkbox"] {
    top: 1.4em;
  }
  #input-email label {
    top: 1.3em;
    left: 1em;
  }
  #input-submit input {
    left: 4em;
  }
}

@media screen and (min-width: 1024px) {
  #content {
    width: 60%;
  }
  input {
    width: 60%;
    margin-left: 20%;
    height: 100%;
    font-size: 80%;
    max-width: 70%;
  }
  #input-submit input {
    max-width: 30%;
    font-size: 80%;
  }
  #input-age-verification label {
    left: 20%;
  }
  #input-age-verification input[type="checkbox"] {
    top: 1.4em;
  }
  #input-email label {
    top: 1.2em;
    left: 1.7em;
  }
  #input-submit input {
    left: 5em;
  }
  p {
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 1280px) {
  #input-email, #input-age-verification, #input-submit {
    max-width: 60%;
    left: 18%;
  }
  #input-email label {
    left: .5em;
    bottom: .4em;
    max-width: 15%;
  }
  #input-submit input {
    left: 5em;
    max-width: 20%;
  }
}

@media screen and (min-width: 1600px) {
  #input-email, #input-age-verification, #input-submit {
    max-width: 50%;
    left: 22%;
  }
  #input-email label {
    left: .2em;
    bottom: .4em;
    max-width: 15%;
  }
  #input-submit input {
    left: 6em;
    max-width: 20%;
  }
  p {
    padding-bottom: 5%;
  }
}